.reg {
    width: 350px;
    height: 380px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    padding: 10px;
    label {
        display: block;
        text-align: left;
        padding: 0 26px;
    }
    input {
        width: 270px;
        margin: 20px 0;
        height: 26px;
        border-radius: 5px;
        &[type=submit]{
            width: 278px;
            height: 32px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #03e9f4;
            border: 1px solid #03e9f4;
            background: transparent;
            &:hover{
                background: rgb(3, 3, 15);
            }
            &:active{
                background: rgb(10, 10, 34);
            }
        }
    }
    
}